[% IF errors %]
    [% FOR error IN errors %]
    <div>[% error %]</div>
    [% END %]
[% END %]

<form action='[% c.uri_for('/login/internal_db') %]' method='POST'>
    Username: <input type='text' name='username'><br>
    Password: <input type='text' name='password'><br>
    <input type='submit' value='logar'>
</form>
